*{
  margin: 0;
  padding: 0;
}

/** nav-container */
.nav-container{
  background-color:grey;
  color: white;
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  top:0px;
  position:sticky;
}

.logo{
  margin-left: 50px;
}

.menus>ul{
  margin-right:50px;
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 17px;
  font-style: italic;
}


.banner-container{
  height: 100vh;
  background-image:url("./asset/image/background.jpg"),linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5));
  background-blend-mode:overlay;
  background-position: center;
  background-size:cover;
  display: flex; 
  justify-content: center;
  align-items:center ;
  text-align: center;
}

.digital-agency{
  font-size: 65px;
  color: white;
}

.digital{
  color: red;
}

.banner-description{
  padding-top: 20px;
  
  /* todo the below portion is important  */
  width: 50%;
  margin: auto;
  color: yellow;
  /* text-align: center; */
}

.button-parent{
  margin: 20px;
}

.btn{
  padding: 12px 20px;
  border: none;
  color: white;
  background-color:red;
}

.btn2{
  
  padding: 12px 20px;
  border: none;
  color: black;
}