*{
  margin: 0;
  padding: 0;
}

/** nav-container */
.nav-container{
  background-color:grey;
  color: white;
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}

.logo{
  margin-left: 50px;
}

.menus>ul{
  margin-right:50px;
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 17px;
  font-style: italic;
}


/** banner-container  */
.banner-container{
  height: 100vh;
  background-image: url(./asset/image/background.jpg), linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9));
  background-blend-mode:overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  /* background-color: red; */
  /* display: flex;
  flex-direction: column;
  justify-content:center;
  margin: 0 auto; */
  /* align-items: center; */
}